.primary {
  font-size: var(--fs-900);
  font-weight: 900;
  color: var(--clr-primary-700);
  text-transform: uppercase;
}

.secondary {
  font-size: var(--fs-800);
  font-weight: 600;
  margin: 1rem 0;
}

.tertiary {
  font-size: var(--fs-600);
  font-weight: 900;
}
