.row {
  display: flex;

  margin-bottom: var(--fs-800);
  padding: 0.6em 0;
}

.horizantal {
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.vertical {
  flex-direction: column;
  gap: var(--fs-800);
  overflow-y: auto;
}
