.headerContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 1fr 1.5fr;
  position: sticky;
  top: -2rem;
}

.headerContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-300);
  color: var(--clr-accent-100);
  padding: 0.6em;
}
