.content {
  padding: 1em;
  overflow-y: auto;
  background: var(--clr-grey-100);

  position: relative;
}

.content > p {
  position: absolute;
  font-size: var(--fs-xl);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  justify-content: space-between;
  /* border-top: 1px solid var(--clr-primary-900); */
  font-size: var(--fs-600);
  /* background-color: red; */
  padding: 1em;
}

.footer > p > span {
  font-weight: 700;
}
