.container {
  width: 35rem;
  min-height: 20rem;
  background-color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4em;
  padding: 2.5em;
  color: var(--clr-primary-600);
  box-shadow: 0 0 4px var(--clr-accent-100);
}

.container h1 {
  font-size: var(--fs-xxl);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}

.container > [type="submit"] {
  background-color: var(--clr-primary-700);
  color: var(--clr-accent-100);
  font-size: 1.5rem;
  padding: 0.6em 1.5em;
  font-weight: 700;
  border-radius: 0.2em;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms, padding 250ms;
  box-shadow: 0 0 4px var(--clr-black);
}

.container > [type="submit"]:hover,
.container > [type="submit"]:focus {
  background-color: var(--clr-primary-800);
  padding: 0.6em 2em;
}

.container > [type="submit"]:disabled {
  cursor: not-allowed;
  background-color: var(--clr-primary-800);
}
