.container {
  position: absolute;
  width: min(100%, 72rem);
  min-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6em;
  box-shadow: 0 0 4px var(--clr-black-50);
  background-color: var(--clr-accent-200);
  padding: 1em;
}

.container > h1 {
  margin: 20rem auto 3rem;
  text-align: center;
}

.container > a:link,
.container > a:visited {
  display: block;
  padding: 0.6em 1em;
  width: 25%;
  margin: 0 auto;
  text-decoration: none;
  font-size: var(--fs-800);
  font-weight: 700;
  background-color: var(--clr-primary-600);
  color: var(--clr-accent-100);
  text-align: center;
  border-radius: 0.2em;
  transition: transform 250ms;
}

.container > a:hover,
.container > a:focus {
  transform: scale(1.05);
}
