.sidebar {
  grid-area: sidebar;
  background-color: var(--clr-primary-600);
  color: var(--clr-accent-100);
  padding: 0.6em;
  font-size: var(--fs-800);
  font-weight: 600;
  width: 100%;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.sidebar > ul a:link,
.sidebar > ul a:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  padding: 0.4em;
  border-radius: 0.2em;
}

.sidebar > ul a:hover,
.sidebar > ul a:focus,
.sidebar > ul a:global(.active) {
  color: var(--clr-primary-600);
  background-color: var(--clr-accent-100);
  box-shadow: 0 0 4px var(--clr-primary-800);
  outline: none;
}
