.statsContainer {
  width: 100%;
  padding: 0.6em;
  min-height: 15rem;
  /* background-color: red; */
  border-radius: 0.6em;
  /* box-shadow: 0 0 4px var(--clr-black-50); */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;

  flex-wrap: wrap;

  /* margin: 0 auto 1rem; */
}
