.content {
  padding: 1em;
  overflow-y: auto;
  background: var(--clr-grey-100);

  position: relative;
}

.content > p {
  position: absolute;
  font-size: var(--fs-xl);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
